.chat {
    width: 500px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
  
  .nombre {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .fecha {
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
  }
  
  .mensaje {
    margin-bottom: 15px;
  }
  
  .mensaje1 {
    background-color: #E2F4F4;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    float: left;
  }
  .mensaje2 {
    background-color: #F5E0C6;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    float: right;
  }