.parraf1 {
    background-color: rgb(21, 0, 255);
    font-size: 1.5em;
    margin-right: 55%;
}

.parraf2 {
background-color: rgb(255, 0, 0);
font-size: 1.5em;
margin-right: 50%;
}

.parraf3 {
    background-color: rgb(174, 0, 255);
    font-size: 1.5em;
    margin-right: 40%;
}

.parraf4 {
    background-color: rgb(255, 0, 170);
    font-size: 1.5em;
    margin-right: 35%;
}