.agua {
    color: rgb(0, 195, 255)
}

#Manzanas {
    color: rgb(24, 255, 20);
}

.plátanos {
    color: rgb(255, 255, 0);
}

.uvas {
    color: rgb(166, 0, 255);
}

#melocoton {
    color: rgb(246, 6, 6)
}

#leche {
    color: rgb(0, 0, 0);
}


