.centrado {
    text-align: center;
    font-size: 3.5em;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.morado {
    text-align: center;
    font-size: 1.20em;
    font-weight: 100;
    font-style: italic;
}

.estirado {
    text-align: center;
    font-size: 1.06em;
    font-weight: 100;
    font-style: initial;
}

.letra {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    font-style: normal;
    margin-left: 30%;
    margin-right: 30%;
}

.cambiar {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    font-style: normal;
    margin-left: 30%;
    margin-right: 30%;
}