body>p>span:nth-child(1) {
    background-color: black;
}

body>p>span:nth-child(2) {
    background-color: black;
}

body>p>span:nth-child(3) {
    background-color: black;
}

body>p>span:nth-child(4) {
    background-color: black;
}

body>p>span:nth-child(5) {
    background-color: black;
}

body>p>span:nth-child(6) {
    background-color: black;
}


body>p>span:nth-child(7) {
    background-color: black;
}

body>p>span:nth-child(8) {
    background-color: black;
}

body>p>span:nth-child(9) {
    background-color: black;
}

body>p>span:nth-child(10) {
    background-color: black;
}